.contacts__appeal {
  font-size: @max-font;
  text-align: @align;
  margin-top: 0;
  margin-bottom: 37px;
}

.contacts__wrapper{
  text-align: @align;
  margin-bottom: 20px;
}

.contacts__title {
  font-size: @medium-font;
  font-weight: 700;
}

.contacts__info {
  font-size: @max-font;
  color: #d22856;
  margin: 0;
}
