.popup__succes_hidden,
.popup__failure_hidden {
  display: none;
}

.popup {
  position: fixed;
  width: 100%;
  padding-top: 36px;
  top: 25%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: @white;
  box-shadow: 0 25px 15px -25px rgba(0, 0, 0, 0.2);
}

.popup__succes {
  padding-top: 35px;
}

.popup__failure {
  padding-top: 40px;
  padding-bottom: 40px;
}

.popup__title {
  display: block;
  margin: 0 auto;
  width: 280px;
  font-size: @medium-font;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin-bottom: 25px;
}

.popup__message {
  display: block;
  font-size: @base-font;
  margin: 0 auto;
  width: 280px;
  line-height: 24px;
  text-align: center;
  color: #000000;

  &_succes {
    margin-bottom: 35px;
  }

  &_failure {
    margin-bottom: 40px;
  }
}

.popup__title_failure {
  margin-bottom: 30px;
}

.popup__wrapper {
  background-color: @white;
  text-align: center;

  &_succes {
    background-color: @light-gray;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (min-width: 660px) {
  .popup {
    width: 460px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), -20px 0 30px -15px rgba(0, 0, 0, 0.1), 20px 0 30px -15px rgba(0, 0, 0, 0.1), 0 20px 30px 0 rgba(0, 0, 0, 0.1);
  }

  .popup__title {
    font-size: 30px;
    line-height: 40px;
  }

  .popup__message {
    font-size: @medium-font;
    width: 300px;
  }

  .popup__failure {
    padding-bottom: 52px;
  }

  .popup__title_succes, {
    margin-bottom: 20px;
  }

  .popup__message_succes {
    margin-top: 20px;
  }

  .popup__message_failure {
    margin-bottom: 35px;
  }
}

@media (min-width: 1200px) {
  .popup__succes {
    width: 780px;
  }

  .popup {
    padding-top: 40px;
  }

  .popup__title_succes {
    width: auto;
  }

  .popup__message_succes {
    width: 400px;
  }
}
